<!DOCTYPE html>
<html ng-app="angryLibs">
  <head>
    <meta charset="utf-8">
    <title>angryLibs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

  </head>
  <body >
    <div class="wrapper" >

      <header class="header row">
        <a href="/" class="smiley col span-3"><img src="images/mad-lib-happy-face.png" alt="ngMadLibs" width="150" height="auto" class="smiley-image"></a>
        <div class="logo col span-9">
          <a href="/"><img src="images/ng-mad-libs-logo.png" alt="ngMadLibs" class="logo-image"></a>
          <h1 class="logo-tagline">Automate This!</h1>
        </div>
      </header>

      <div ng-controller="MainCtrl as vm">
        <section class="prompts row">
          <form name="promptsForm" class="prompts-form col span-12">
          <h2 class="prompts-form__prompt">Provide the following words:</h2>
          <div class="col span-12">
            <input type="radio" value="female" name="female" id="female" ng-model="vm.gender"/><label for="female">My Story Has A Heroine</label><br/>
            <input type="radio" value="male" name="male" id="male" ng-model="vm.gender"/><label for="male">My Story Has A Hero</label>
          </div>

          <div class="col span-4">
            <input type="text" placeholder="{{vm.gender}} name" ng-model="vm.prompt.name">
            <input type="text" placeholder="job title" ng-model="vm.prompt.jobTitle">
            <input type="text" placeholder="tedious task" ng-model="vm.prompt.tediousTask">
          </div>
          <div class="col span-4">
            <input type="text" placeholder="dirty task" ng-model="vm.prompt.dirtyTask">
            <input type="text" placeholder="celebrity" ng-model="vm.prompt.celebrity">
            <input type="text" placeholder="useless skill" ng-model="vm.prompt.uselessSkill">
          </div>
          <div class="col span-4">
            <input type="text" placeholder="obnoxious celebrity" ng-model="vm.prompt.obnoxiousCelebrity">
            <input type="text" placeholder="huge number" ng-model="vm.prompt.hugeNumber">
            <input type="text" placeholder="adjective" ng-model="vm.prompt.adjective">
          </div>
          <div class="col span-12">
            <button class="button-submit" ng-click="vm.showStory=true; vm.genderize();">Get A Story</button>
          </div>
          </form>
        </section>
        <section class="story row" ng-show="vm.showStory">
            <p>{{vm.prompt.name}} was a {{vm.prompt.jobTitle}} who loved technology. Although {{vm.nomPronoun}} loved parts of {{vm.posPronoun}} job, {{vm.nomPronoun}} absolutely hated {{vm.prompt.tediousTask}} and {{vm.prompt.dirtyTask}}. So, {{vm.prompt.femaleName}} met with {{vm.posPronoun}} life mentor {{vm.prompt.celebrity}} who told {{vm.posPronoun}} to learn how to {{vm.prompt.uselessSkill}} with Thinkful. Thinkful didn't offer a course on {{vm.prompt.uselessSkill}} so {{vm.nomPronoun}} studied programming instead.</p>
            <p>What a great decision! With {{vm.posPronoun}} new skills, {{vm.prompt.femaleName}} built a(n) {{vm.prompt.adjective}} robot named {{vm.prompt.obnoxiousCelebrity}} that not only loved {{vm.prompt.dirtyTask}} but did it {{vm.prompt.hugeNumber}} times faster.</p>
          <button class="button-reset"ng-click="vm.reset()">Again!</button>
        </section>
      </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
